---
interface Props {
  title: string
  linkTo: string
}

const {title, linkTo} = Astro.props;
---

<a class="w-min h-min" href={linkTo}>
  <button class="flex rounded-xl justify-center w-min px-4 py-2 bg-[#556547] hover:bg-[#343830]">{title}</button>
</a>

