---

import { Image } from "astro:assets";
import Button from "./Button.astro";
import H1 from "./text/H1.astro";
import profilePic from "../assets/profile_pic.jpg"; 

interface Props {
  title: string
  subtitle: string
}

const  { title, subtitle } = Astro.props;
---
<nav class=" flex flex-col h-[50%] lg:h-[30%] max-md:px-10  lg:px-40 2xl:px-60 my-10 gap-y-6 items-center justify-evenly">
  <div id="header-main" class="flex flex-col md:flex-row gap-6 h-full items-center">
    <Image src={profilePic} alt="profile pic" class="h-60 w-fit rounded-full" />
    <div id="header-text" class="flex flex-col gap-y-4 w-full items-center md:items-start">
      <a href="/portfolio"><H1 text={title} className="max-md:text-4xl"/></a>
      <p class="text-2xl text-pretty">{subtitle}</p>
    </div>
  </div>
    
  <div class="flex flex-row flex-wrap w-full items-center justify-center gap-x-10 gap-y-4">
    <Button title="About" linkTo="/portfolio/about"/>
    <Button title="Skills" linkTo="/portfolio/skills"/>
    <Button title="Projects" linkTo="/portfolio/projects"/>
  </div>
</nav>
