---
import { defineCollection, z} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Jacobo Duque's Portfolio - Fullstack Game Developer" description='Page showcasing my projects and skills as a fullstack game developer.'>
	<main class="px-4">
        
	</main>
</Layout>
