---
import Header from '../components/Header.astro';
import "../../style.css";
import '@fontsource-variable/source-code-pro';
interface Props {
    title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- <link href="./style.css" rel="stylesheet" type="css"/> -->
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="px-8 py-4 ">
        <!-- <div class="fixed top-0 left-0 w-full h-full -z-10 "></div> -->
        <Header title='Jacobo Duque' subtitle='Hello! I am a Fullstack Game Developer, passionate about most game genres and I love making things.'/>
        <slot name="content"/> 
    </body>
</html>

<style is:global>
    :root {
        color-scheme: dark;
    }
    html {
        font-family: 'Source Code Pro Variable', monospace;
        scroll-behavior: smooth;
        
    }
    body {
	    font-size: 100%;
        background: #1E1F1F;
        color: #fff;
        display: flex;
	    flex-direction: column;
        min-height: 100vh;
    }
    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
